@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: "Lato", sans-serif;
  color: white;
  background: #212C4F;
}

a{
  text-decoration: none;
}

/********** Navigation Bar ************/

.nav-container{
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-container a {
  margin: 0 30px;
  text-decoration: none;
  color: white;
  font-size: 20px;
}

/********** Hero ************/

.hero-wrapper{
  margin: 0;
  text-align: center;
  /* display: flex;
  align-items: center;
  flex-direction: column; */
  height: 920px;
  background: linear-gradient(
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.1)
  ), url('./images/Hero-Dark.png');
  /* background: linear-gradient(to bottom, transparent 0%, black 10%); */
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero-wrapper svg{
  position: absolute;
  bottom: 0;
  left: 0;
}

.beans{
  margin-top: 50px;
}

.hero-title{
  margin: 50px 0;
  font-size: 50px;
}

.hero-header{
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
  line-height: 1.5;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 50px;
}

.learn-btn a{
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  background: rgba(0,0,0,0.7);
  padding: 9px 20px;
  border: 1px solid rgba(255,255,255, 0.25);
  border-radius: 20px;
}

@media (max-width: 640px) {
  .hero-title{
    font-size: 40px;
  }
  .hero-header {
      padding: 0 20px;
      font-size: 24px;
  }

}

/********** End of Hero ************/

/********** Modal ************/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  color: black;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

input, button {
  font-weight: 700;
}

.main-div, .loggedin-div {
  width: 20%;
  margin: 80px auto;
  padding: 20px;
  /* display: none; */
}

.main-div input {
  display: block;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #fff;
  padding: 15px;
  outline: none;
  width: 100%;
  margin-bottom: 20px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}

.main-div input:focus {
  border: 1px solid #777;
}

.main-div button, .loggedin-div button {
  background: #5d8ffc;
  color: black;
  border: 1px solid #5d8ffc;
  border-radius: 5px;
  padding: 15px;
  display: block;
  width: 100%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}

.main-div button:hover, .loggedin-div button:hover {
  background: black;
  color: #5d8ffc;
  border: 1px solid #5d8ffc;
  cursor: pointer;
}
/********** End of Modal ************/

/********** Courses Content ************/

.icons{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.icon img{
  margin: 0 50px;
  height: 80px;
}

.wrapper {
  width: 90vw;
  max-width: 1170px;
  margin: 0 auto;
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
  color: #444;
}

.Card {
  margin: 0 auto;
  width: 300px;
  height: 225px;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0,0,0, 0.15);
  display: grid;
  grid-template-rows: 1fr 1fr;
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
  cursor: pointer;
}

.Card:hover {
  transform: scale(1.1, 1.1);
  box-shadow: 0 30px 60px rgba(0,0,0, 0.5);
}

.Card:hover img {
  transform: translateY(-20px);
}

.Card img {
  height: 110%;
  position: absolute;
  top: 0;
  z-index: -1;
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.Card h3 {
  color: white;
  font-size: 30px;
  margin: 20px 0 0 20px;
  width: 190px;
}

.Card p {
  color: rgba(255,255,255, 0.8);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  align-self: end;
  margin: 0 0 20px 20px;
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 640px) {
  .icon img{
    margin: 0 20px;
    height: 50px;
  }
}
/********** End of Courses Content ************/

/********** JS Page ************/
.course-container{
  margin: 0 50px;
}

.js-cover{
  /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), url('') no-repeat; */
  height: 920px;
  background: linear-gradient(
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.1)
  ), url('./images/Hero-Dark.png');
  /* background: linear-gradient(to bottom, transparent 0%, black 10%); */
  background-size: cover;
  background-position: center;
  position: relative;
}

.course-title{
  text-decoration: none;
  /* margin: 50px 0; */
  font-size: 80px;
  white-space: pre-line;
}

.course-title-wrapper{
  margin-top: 100px;
  display: flex;
}

.course-header{
  /* display: flex;
  justify-content: center;
  align-items: center; */
  margin-top: 20px;
  max-width: 600px;
  line-height: 1.5;
  font-size: 24px;
  font-weight: 400;
  text-align: left;
}

.topics{
  margin-top: 80px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 50px;
}

.topics .Card{
  flex: 0 0 auto;
  margin-right: 50px;
  width: 350px;
  height: 275px;
  z-index: 1;
  /* background: blue; */
}

.lectures .Card{
  z-index: 1;
}
/********** End JS Page ************/

/********** Team Page ************/
.team-wrapper{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.team-wrapper h1{
  font-size: 52px;
  margin-bottom: 60px;
  text-align: center;
  color: white;
}

.team{
  display: flex;
  justify-content: center;
  width: auto;
  text-align: center;
  flex-wrap: wrap;
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem; */
}

.team .team_member{
  background: #fff;
  margin: 50px;
  margin-bottom: 150px;
  width: 300px;
  padding: 20px;
  line-height: 20px;
  color: #8e8b8b;  
  position: relative;
}

.team .team_member h3{
  color: #202C4E;
  font-size: 26px;
  margin-top: 50px;
}

.team .team_member p.role{
  color: #ccc;
  margin: 12px 0;
  font-size: 20px;
  text-transform: uppercase;
}

.team .team_member .team_img{
  position: absolute;
  top: -150px;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 3px solid white;
  background: #fff;
  overflow: hidden;
}

.team .team_member .team_img img{
  width: 100%;
  /* height: 100%; */
  /* padding: 5px; */
  /* z-index: -9999; */
}

.description{
  margin-bottom: 10px;
}

.fa-linkedin{
  color: #0e76a8;
  font-size: 2.5em;
}

/********** End JS Page ************/


