@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

:root {
  --primaryColor: #f09d51;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: "Lato", sans-serif;
  color: white;
  background: #212C4F;
}

a{
  text-decoration: none;
}

/********** Navigation Bar ************/

.nav-container{
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-container a {
  margin: 0 30px;
  text-decoration: none;
  color: white;
  font-size: 20px;
}

/********** Hero ************/

.hero-wrapper{
  margin: 0;
  text-align: center;
  /* display: flex;
  align-items: center;
  flex-direction: column; */
  height: 920px;
  background: linear-gradient(
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.1)
  ), url('./images/Hero-Dark.png');
  /* background: linear-gradient(to bottom, transparent 0%, black 10%); */
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero-wrapper svg{
  position: absolute;
  bottom: 0;
  left: 0;
}

.beans{
  margin-top: 50px;
}

.hero-title{
  margin: 50px 0;
  font-size: 50px;
}

.hero-header{
  /* display: flex;
  justify-content: center;
  align-items: center; */
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
  line-height: 1.5;
  font-size: 30px;
  font-weight: 300;
}

.icons{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.icon{
  margin: 0 50px;
}

.wrapper {
  /* box-sizing: border-box; */
  width: 90vw;
  max-width: 1170px;
  /* margin-top: 80px; */
  /* margin: 50px 40px 100px; */
  margin: 0 auto;
  margin-top: 80px;
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
  /* justify-items: center; */
  color: #444;
}

.Card {
  margin: 0 auto;
  width: 300px;
  height: 225px;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0,0,0, 0.15);
  display: grid;
  grid-template-rows: 1fr 1fr;
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
  cursor: pointer;
}

.Card:hover {
  transform: scale(1.1, 1.1);
  box-shadow: 0 30px 60px rgba(0,0,0, 0.5);
}

.Card:hover img {
  transform: translateY(-20px);
}

.Card img {
  height: 110%;
  position: absolute;
  top: 0;
  z-index: -1;
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.Card h3 {
  color: white;
  font-size: 30px;
  margin: 20px 0 0 20px;
  width: 190px;
}

.Card p {
  color: rgba(255,255,255, 0.8);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  align-self: end;
  margin: 0 0 20px 20px;
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/********** JS Page ************/
.course-container{
  margin: 0 50px;
}

.js-cover{
  /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), url('') no-repeat; */
  height: 920px;
  background: linear-gradient(
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.1)
  ), url('./images/Hero-Dark.png');
  /* background: linear-gradient(to bottom, transparent 0%, black 10%); */
  background-size: cover;
  background-position: center;
  position: relative;
}

.course-title{
  text-decoration: none;
  /* margin: 50px 0; */
  font-size: 80px;
  white-space: pre-line;
}

.course-title-wrapper{
  margin-top: 100px;
  display: flex;
}

.course-header{
  /* display: flex;
  justify-content: center;
  align-items: center; */
  margin-top: 20px;
  max-width: 600px;
  line-height: 1.5;
  font-size: 24px;
  font-weight: 400;
  text-align: left;
}

.topics{
  margin-top: 80px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 50px;
}

.topics .Card{
  flex: 0 0 auto;
  margin-right: 50px;
  width: 350px;
  height: 275px;
  z-index: 1;
  /* background: blue; */
}

.lectures .Card{
  z-index: 1;
}
/********** End JS Page ************/

